@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");
body {
  background-color: #131313;
}

.material-symbols-outlined {
  visibility: hidden;
}

/*LISTO*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131313;
  width: 100%;
  height: 25vh;
  z-index: 1000;
}
header ul {
  visibility: visible;
  width: 50%;
  display: flex;
  gap: 3%;
  justify-content: space-around;
}
header ul li {
  list-style: none;
  padding: 2%;
}
header ul li a {
  text-decoration: none;
  color: white;
}
header ul li a:hover {
  color: #898989;
  transition: 0.2s all;
}
header ul li:last-of-type {
  list-style: none;
}
header ul li:last-of-type a {
  text-decoration: none;
  color: black;
  border-radius: 25px;
  background-color: white;
  padding: 20%;
}
header ul li:last-of-type a:hover {
  background-color: #898989;
  transition: 0.2s all;
}
header .inicio {
  font-size: 2.5em;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  padding-left: 5%;
}
header .inicio:hover {
  color: #898989;
}

/*LISTO*/
main .presentation {
  display: flex;
  width: 100%;
  height: 73vh;
  margin-top: 2%;
  padding: 3%;
  align-items: center;
}
main .presentation-text {
  width: 40%;
  padding: 0px 0px 0px 5%;
  text-align: left;
}
main .presentation-text h1:first-child {
  font-weight: bolder;
  font-size: 2em;
  color: white;
}
main .presentation-text h1:last-child {
  color: #898989;
}
main .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 5% 0px 5%;
}
main .about-me {
  display: flex;
  width: 60%;
}
main .about-me__img {
  border-radius: 12px 0px 12px 0px;
  width: 50%;
  height: 100%;
}
main .about-me__img__me {
  width: 100%;
}
main .about-me__img__me img {
  border-radius: 25% 0px 0px 25%;
  width: 100%;
  height: 50vh;
}
main .about-me__description {
  background-color: white;
  height: 50vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0px 10% 10% 0px;
}
main .about-me__description h1 {
  font-size: 1.5em;
  padding: 2%;
}
main .about-me__description p {
  font-size: 1em;
  text-align: center;
  font-weight: 100;
  padding: 0px 5% 0px 5%;
  color: rgb(13, 125, 216);
}
main .about-school {
  margin-top: 2%;
}
main .about-school h1:first-of-type {
  font-size: 3em;
  color: white;
  text-align: center;
  padding: 2%;
}
main .about-school .container {
  display: flex;
}
main .about-school .container-img {
  width: 50%;
}
main .about-school .container-img img {
  width: 100%;
}
main .about-school .container-description {
  width: 50%;
  text-align: right;
}
main .about-school .container-description h2 {
  padding: 2%;
  color: white;
  font-size: 2em;
}
main .about-school .container-description h3 {
  padding: 0.5% 2%;
  color: #898989;
  font-size: 1.8em;
}
main .about-school .container-description p {
  padding: 0.5% 2%;
  color: white;
  font-size: 1.3em;
}
main .about-hobbies {
  display: flex;
  width: 70%;
  margin-top: 5%;
  height: min-content;
}
main .about-hobbies__img {
  background-color: #898989;
  border-radius: 25% 0px 0px 25%;
  display: flex;
  align-items: center;
}
main .about-hobbies__img img {
  width: 300px;
}
main .about-hobbies__description {
  background-color: white;
  border-radius: 0px 10% 10% 0px;
  text-align: center;
  color: black;
  padding: 2%;
}
main .about-hobbies__description h1 {
  font-size: 1.5em;
  padding: 1%;
}
main .about-hobbies__description h3 {
  text-align: left;
  font-size: 1.2em;
  padding: 1%;
}
main .about-hobbies__description p {
  text-align: left;
  font-size: 1em;
  color: rgb(13, 125, 216);
  padding: 1% 2%;
}
main .projects-f {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
  margin: 10%;
  justify-items: center;
  row-gap: 15px;
  width: 50%;
  height: 50%;
}
main .projects div {
  background: #C9D6FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 12px;
  padding: 15px;
}
main .projects div.projects-title {
  grid-column: 1/4;
  width: 100%;
  text-align: center;
  font-size: 2em;
}
main .projects div img {
  width: 100px;
  height: 100px;
}
main .flex {
  display: flex;
  flex-direction: row !important;
}
main .wrap {
  flex-wrap: wrap;
}
main .grid {
  display: grid;
  grid-template-columns: 10% 45% 45%;
  gap: 2%;
}
main .g-row {
  grid-row: 1/3;
}
main .g-column {
  grid-column: 1/2;
}
main .w-100 {
  width: 100%;
}
main .row-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 45% 40%;
  gap: 2%;
  background-color: white;
  margin: 0px 10%;
  border-radius: 12px;
  padding: 2%;
  height: auto;
  margin-bottom: 2%;
}
main .row-grid .column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 50%;
  padding: 2%;
}
main .row-grid .column img {
  width: 20%;
}
main .row-grid .column h3:last-of-type {
  margin-bottom: 5%;
}
main .row-grid .column a {
  text-decoration: none;
  color: black;
  border-radius: 25px;
  background-color: white;
  margin-top: 2%;
  padding: 2%;
  border: 1px solid black;
}
main .row-grid .column a:hover {
  color: white;
  background-color: black;
  transition: 0.2s all;
}
main .row-grid .color-2 {
  background-color: #dce0e6;
  border-radius: 12px;
  margin-right: 3%;
  box-shadow: 5px 6px 19px black;
}
main .row-grid .color-1 {
  background-color: #cacaca;
  border-radius: 12px;
  margin-right: 3%;
  box-shadow: 5px 6px 19px black;
}
main .carrete-projects-title {
  color: white;
  text-align: center;
}
main .carrete-projects-card {
  display: flex;
  overflow: hidden;
  gap: 20px;
  width: auto;
  margin: 50px 0;
  flex: 1 1;
}
main .carrete-projects-card .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 450px;
  background-color: #cacaca;
  padding: 30px;
  gap: 25px;
  border-radius: 15px;
  min-width: 300px;
}
main .carrete-projects-card .card p {
  text-align: justify;
}
main .carrete-projects-card .card h1 {
  text-align: center;
}
main .carrete-projects-card .card div:first-of-type {
  height: 60%;
}
main .carrete-projects-card .card div:first-of-type img {
  width: 180px;
  height: 180px;
}
main .carrete-projects-card .card button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 17px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

footer {
  background-color: #7c7c7c;
  border-top: 1px solid rgb(221, 221, 221);
  height: 35vh;
  color: white;
  text-align: center;
  padding: 2%;
}

@media screen and (max-width: 425px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131313;
    width: 100%;
    height: 10vh;
    z-index: 1000;
    flex-wrap: wrap;
  }
  header .inicio {
    font-size: 1.2em;
    padding-left: 2%;
    width: 80%;
  }
  header ul {
    visibility: hidden;
    display: block;
    width: 100%;
    position: relative;
    background-color: #898989;
  }
  header ul li {
    width: 100%;
    text-align: center;
  }
  header ul li a {
    text-align: center;
  }
  header ul li:last-of-type a {
    padding: 0;
  }
  header .material-symbols-outlined {
    visibility: visible;
    color: white;
    cursor: pointer;
    padding: 5%;
    font-size: 2em;
    width: 20%;
  }
  main .presentation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  main .presentation img {
    width: 60%;
    height: auto;
  }
  main .presentation-text {
    width: 100%;
    height: 40%;
    font-size: 1em;
    text-align: center;
  }
  main .about-me {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-color: white;
    margin-bottom: 10vh;
  }
  main .about-me__img {
    width: 100%;
    margin-bottom: 0;
  }
  main .about-me__img__me img {
    width: 100%;
    height: 50%;
    border-radius: 0%;
  }
  main .about-me__description {
    display: block;
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 20px 0;
  }
  main .about-me__description h1 {
    font-size: 2em;
    text-align: center;
  }
  main .about-me__description p {
    font-size: 1em;
  }
  main .about-hobbies {
    flex-direction: column;
    border-radius: 0%;
    width: 100%;
    min-height: 100vh;
  }
  main .about-hobbies__img {
    width: 100%;
    height: 50%;
    border-radius: 0;
  }
  main .about-hobbies__img img {
    width: 100%;
  }
  main .about-hobbies__description {
    height: 70%;
    border-radius: 0;
  }
  main .about-hobbies__description h1 {
    font-size: 2em;
  }
  main .about-hobbies__description > div > h3 {
    font-size: 1.2em;
  }
  main .about-hobbies__description > div > p {
    font-size: 1em;
  }
  main .about-school h1:first-of-type {
    font-size: 2.5em;
  }
  main .about-school .container {
    display: block;
  }
  main .about-school .container .container-img {
    width: 90%;
  }
  main .about-school .container-description {
    width: 100%;
  }
  main .projects-f {
    display: block;
  }
  main .projects {
    width: 100%;
    display: flex;
    margin: 25px 0;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  main .projects div {
    width: 45vw;
    text-align: center;
  }
  .row:first-child {
    flex-direction: column;
    height: 100vh !important;
    gap: 5%;
  }
  .row:last-child {
    flex-direction: column;
    height: 125vh !important;
    gap: 5%;
  }
  .column {
    width: 100% !important;
  }
  .row-grid {
    height: 150vh;
    display: flex;
    flex-direction: column;
    gap: 5%;
  }
}
@media screen and (min-width: 425px) and (max-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131313;
    width: 100%;
    height: 20vh;
    z-index: 1000;
    flex-wrap: wrap;
  }
  header .inicio {
    font-size: 1.5em;
    padding-left: 2%;
    width: 80%;
  }
  header ul {
    visibility: hidden;
    display: block;
    width: 100%;
    position: relative;
    background-color: #898989;
  }
  header ul li {
    width: 100%;
    text-align: center;
  }
  header ul li a {
    text-align: center;
  }
  header ul li:last-of-type a {
    padding: 0;
  }
  header .material-symbols-outlined {
    visibility: visible;
    color: white;
    cursor: pointer;
    padding: 5%;
    font-size: 2em;
    width: 20%;
    text-align: center;
  }
  main {
    position: relative;
    top: 0;
  }
  main .presentation {
    flex-direction: column;
    height: 90vh;
  }
  main .presentation img {
    width: 70%;
    height: auto;
  }
  main .presentation-text {
    width: 100%;
    height: 50%;
    font-size: 1.5em;
    text-align: center;
  }
  main .about-me {
    flex-direction: column;
    height: max-content;
    background-color: white;
    width: 70vw;
  }
  main .about-me__img {
    width: 100%;
    margin-bottom: 0;
  }
  main .about-me__img__me img {
    width: 100%;
    height: 40%;
    border-radius: 0%;
  }
  main .about-me__description {
    display: block;
    width: 100%;
    height: 50%;
    margin: 0;
  }
  main .about-me__description h1 {
    font-size: 3em;
    text-align: center;
  }
  main .about-me__description p {
    font-size: 1.5em;
    padding: 25px 0;
  }
  main .about-hobbies {
    flex-direction: column;
    border-radius: 0%;
    min-height: max-content;
    width: 70vw;
  }
  main .about-hobbies__img {
    width: 100%;
    height: 50%;
    border-radius: 0;
  }
  main .about-hobbies__img img {
    width: 100%;
  }
  main .about-hobbies__description {
    height: 70%;
    border-radius: 0;
  }
  main .about-hobbies__description h1 {
    font-size: 3em;
  }
  main .about-hobbies__description > div > h3 {
    font-size: 2em;
  }
  main .about-hobbies__description > div > p {
    font-size: 1.5em;
  }
  main .about-school h1:first-of-type {
    font-size: 2.5em;
  }
  main .about-school .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .about-school .container .container-img {
    width: 75%;
  }
  main .about-school .container-description {
    width: 100%;
  }
  main .projects {
    width: 70%;
    gap: 25px;
  }
  .row:first-child {
    flex-direction: column;
    height: 100vh !important;
    gap: 5%;
  }
  .row:last-child {
    flex-direction: column;
    height: 125vh !important;
    gap: 5%;
  }
  .column {
    width: 100% !important;
  }
  .row-grid {
    height: 150vh;
    display: flex;
    flex-direction: column;
    gap: 5%;
  }
  footer {
    height: min-content;
  }
}
@media screen and (min-width: 800px) and (max-width: 1024px) {
  main .projects .container-tech .row:first-of-type {
    height: min-content !important;
  }
  main .projects .container-tech .row:first-of-type .column {
    margin: 2% 0px 2% 0px;
  }
  main .projects .container-tech .row:first-of-type .color-2 {
    box-shadow: 0px 10px 12px 0px black;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #131313;
  font-family: "Signika", sans-serif;
}

/*# sourceMappingURL=style.css.map */
