$backgroundBody: #131313;
$backgroundCarts: #edeade;
$backgroundNav: #131313;
$colorHover: #898989;
$fontFamily : 'Signika', sans-serif;
$baackgroundFooter: #686767;
body {
  background-color: $backgroundBody;
}
