@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import "variables";
@import "header";
@import "main";
@import "footer";
@import "responsive";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $backgroundBody;
    font-family: $fontFamily;
    animation: entrada 1s;
}
@keyframes entrada {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}